<div class="leftside-profile">
  <img class="avatar" src="{{avatar_url}}">
  <div class="names">
    <span class="fullname">{{name}}</span>
    <span class="username">{{login}}</span>
  </div>
  <ul class="details">
    <li class="org"><span class="octicon octicon-organization"></span>&nbsp {{company}}</li>
    <li class="email"><span class="octicon octicon-mail"></span><a href="mailto:J5Beck@users.noreply.github.com">&nbsp J5Beck@users.noreply.github.com</a></li>
    <li><span class="octicon octicon-clock"></span>&nbsp {{created_at}}</li>
  </ul>
  <div class="stats">
    <ul class="followers">
      <li>{{followers}}</li>
      <li class="follow-num">Followers</li>
    </ul>
    <ul class="starred"> 
      <li>{{stars}}</li>
      <li class="star-num">Starred</li>
    </ul>
    <ul class="following"> 
      <li>{{following}}</li>
      <li class="following-num">Following</li>
    </ul>
  </div>
</div>
