<div class="repobox">
  <div class="repo-star-branch">
    <span class="octicon octicon-star">&nbsp{{stargazers_count}}</span>
    <span class="octicon octicon-git-branch">&nbsp{{forks_count}}</span>
    <span class="code-type">{{language}}</span>
  </div>
    <h3 class="repo-name">{{name}}</h3>
    <ul>
      <li class="repo-desc">{{description}}</li>
      <li class="repo-stats">Updated {{updated_at}}</li>
    </ul>  
</div>

