<div class="repobox">
  <div class="repo-star-branch">
    <span class="octicon octicon-star">&nbsp{{stargazers_count}}</span>
    <span class="octicon octicon-git-branch">&nbsp{{forks_count}}</span>
    <span class="code-type">{{language}}</span>
  </div>
  <span class="repo-name">{{name}}</span>
  <span class="repo-desc">{{description}}</span>
  <span class="repo-stats">Updated {{updated_at}}</span>
</div>

